/* Root --------- --------- --------- ---------  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Amazon Products --------- --------- --------- ---------  */

#data {
  margin-left: 100px;
  margin-top: 100px;
}
